.cardSlide {
  &__mainBOdy {
    position: relative;
    // width: 101.7%;
    background: inherit;
    height: 28vh;
    border-radius: 1rem;
    box-shadow: $box-shadow-all-around;
    // left: -1.9rem !important;
    margin-top: -2rem;
    overflow: hidden;
  }
  &__secondary {
    padding: 1rem;
  }
  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    color: $color-black;
    font-size: 2.2rem;
    font-weight: 500;
  }

  &__right {
    display: flex;
    flex-direction: row;
    &--buttonSeeAll {
      background: $color-aide;
      color: $color-white;
      font-size: 1.3rem;
      height: 2.4rem;
      padding: 0.1rem 2.2rem;
      border-radius: 5rem;
      margin-top: 0.6rem;
      //   &:hover {
      //     background: $color-white;
      //     color: $color-aide;
      //   }
    }
    &--nextPreButton {
      margin-left: 2rem;
      margin-right: 1rem;
      font-size: 2rem;
    }
    &--arrowButton {
      box-shadow: $box-shadow-2;
      height: 2.5rem;
      transition: all 0.5s;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
      &:hover {
        background: $color-aide;
        color: $color-white;
      }
    }
  }
  &__bottom {
    margin-top: 0.5rem;
  }
  &__featurerSlider {
    transition: 0.5s all;
    width: 32rem;
    position: relative;
    border-radius: 8px;
    // box-shadow: $box-shadow-all-around;
  }
}

.slick-track {
  // top: 1rem !important;
}
/* the slides */
.slick-slide {
  margin-left: 0.5rem;
  // width: 100% !important;
}

/* the parent */
.slick-list {
  margin-left: -0.5rem;
}
.slick-prev,
.slick-next {
  display: none !important;
}
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto;
}
.style {
  padding: 0;
  width: 100%;
  max-height: 30rem;
}
