.sidebar {
  position: fixed;
  height: 100vh;
  padding-right: 2rem;
  border-right: 0.8rem solid $color-aide;
  box-shadow: 0.6rem 0.2rem 0.6rem rgba($color-black, 0.3);

  &__expand {
    width: 300px;
    // height: 100vh;
    background-color: transparent;
    z-index: 1;
    left: 20rem;
  }

  &--iconbtn {
    &,
    &:link,
    &:visited {
      text-decoration: none;
    }
  }
  &__mainbox {
    margin-top: 3.5rem;
    z-index: 3;
  }

  &__box {
    // display: inline-block;
    // margin: auto;
    border-radius: 1rem;
    border: 1.5px solid $color-aide;
    box-shadow: 0 0.1rem 0.5rem rgba($color-black, 0.5);
    // padding: 1px;
    text-align: center;
    margin-top: 0.8rem;
    width: 6.8rem;
    height: 5.8rem;
    color: $color-aide;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__icon {
    padding-top: 0.2rem;
    font-size: 2.8rem;
    // margin-top: 0.15rem;
  }

  &__text {
    font-weight: 900;
    font-size: 0.95rem;
    margin: auto;
  }

  &__modal-insite {
    top: 0;
    left: 20rem;
    height: 20rem;
    width: 30rem;
  }
}
