.allproducts {
  &__mainbody {
  }
  &__views {
    display: flex;
    // justify-content: center;
    justify-content: space-between;
  }
  &__viewsbar {
    // border: 1px solid black;
    background-color: $color-aide;
    height: 2px;
    width: 70%;
    margin-left: 2%;
    margin-top: 1.1rem;
  }
  &__viewselect {
    display: flex;
    margin-right: 4rem;
  }

  &__dropdownview {
  }
  &__viewheading {
    color: $color-black;
    font-size: 1.7rem;
    padding: 0.1rem 0 0 0;
    margin-bottom: -0.1rem;
  }

  //   &__viewselect:hover &__dropdownview {
  //     display: block;
  //   }
}
// .custom-select select {
//   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
//   font-size: 1.6rem;
//   padding: 0.5rem 1.2rem 0.5rem 1.2rem;
//   background: $color-aide;
//   color: $color-white;
//   border: 0;
//   //   border-radius: 1rem;
//   &:focus-visible {
//     outline: none;
//   }
//   //appearance:none;
// }
// .custom-select {
//   position: relative;
//   width: 3.8%;
//   //   left: 84.9%;

//   margin: 0.5rem 0;
// }

// .custom-arrow {
//   position: absolute;
//   top: 0;
//   right: 0;

//   display: block;
//   background: $color-aide;
//   height: 100%;
//   width: 2rem;
//   pointer-events: none;
//   //   border-radius: 1rem;
// }

// .custom-arrow::before,
// .custom-arrow::after {
//   --size: 0.65rem;
//   content: '';
//   position: absolute;
//   width: 0;
//   height: 0;

//   left: 50%;

//   transform: translate(-50%, -50%);
// }

// .custom-arrow::before {
//   border-left: var(--size) solid transparent;
//   border-right: var(--size) solid transparent;
//   border-bottom: var(--size) solid rgba($color-white, 0.8);

//   top: 35%;
// }

// .custom-arrow::after {
//   border-left: var(--size) solid transparent;
//   border-right: var(--size) solid transparent;
//   border-top: var(--size) solid rgba($color-white, 0.8);
//   top: 65%;
// }
.dropdown-company > div,
.dropdown-company > a,
.dropdown-company > span {
  min-width: 60px;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  font-size: 1.5rem;
}
.dropdown-company > button {
  padding: 0;
}

.dropdown .dropdown-company {
  display: inline-flex;
  align-items: center;
  margin-top: -0.1rem;
}

.dropdown-menu {
  font-size: inherit;
}

.dropdown .dropdown-menu {
  position: absolute;
  min-width: 80px;
  font-size: 1.3rem;
}

.btn-outline-primary {
  color: $color-aide;
  background-color: transparent;
  background-image: none;
  border-color: $color-aide;
  padding: 0;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: $color-aide;
}

.dropdown-item.hover,
.dropdown-item:hover {
  background-color: $color-aide;
  color: $color-white;
}
.btn-outline-primary:focus {
  outline: none;
  box-shadow: none;
}
.btn-outline-primary,
.btn-outline-primary:hover,
.btn-outline-primary:active {
  color: #fff;
  background-color: $color-aide;
  border-color: $color-aide;
}
