@keyframes animShow {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes swingRight {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  from {
    transform: translateX(-24%);
    left: -24%;
  }
  to {
    left: 4%;
    transform: translateX(4%);
  }
}
@keyframes swingLeft {
  // 0% {
  //   opacity: 1;
  // }
  // 45% {
  //   opacity: 1;
  // }
  // 100% {
  //   opacity: 1;
  // }
  from {
    transform: translateX(4%);
    left: 4%;
  }

  to {
    left: -24%;
    transform: translateX(-24%);
  }
}
